@{
    ViewBag.Title = "CMSite";
    var GoogleClassroom = @"https://classroom.google.com/c/OTE3MjUyNDE4MFpa";
    var HomeworkOneDesc = @"
* 請使用「客戶資料」這個資料庫做開發(如附件檔案)
* 請實作出「客戶資料管理」、「客戶聯絡人管理」與「客戶銀行帳戶管理」等簡易 CRUD 功能(盡量做各種功能出來)
* 在列表頁要實作「搜尋」功能
* 主選單要有連結可以直接連到三個主要功能的列表頁。
* 對於 Create 與 Edit 表單要套用欄位驗證 (必填、Email格式、欄位長度限制等驗證)
* 實作「客戶聯絡人」時，同一個客戶下的聯絡人，其 Email 不能重複。";
    var HomeworkTwoDesc = @"
* 延續上周作業加以延伸開發
* 看完 保哥線上講堂：Language-Integrated Query (LINQ) 快速上手 線上課程
* 修改「客戶資料」表格，新增「客戶分類」欄位，可設定特定選項的分類
* 在「客戶資料列表」頁面新增篩選功能，可以用「客戶分類」欄位進行資料篩選 (下拉選單)
* 在「客戶聯絡人列表」頁面新增篩選功能，可以用「職稱」欄位進行資料篩選
* 修改「客戶資料列表」與「客戶聯絡人列表」頁面，設定讓每個欄位都能進行排序 (可升冪、可降冪排序)
* 實作一個清單頁面，顯示欄位有「客戶名稱、聯絡人數量、銀行帳戶數量」共三個欄位。
* 刪除資料功能不能真的刪除資料庫中的資料，必須修改資料庫，加上一個「是否已刪除」欄位，資料庫中的該欄位為 bit 類型，0 代表未刪除，1 代表已刪除，且列表頁不得顯示已刪除的資料。
";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 5</h1>
    <h2>開發實戰課後作業</h2>
    <p><a href="@GoogleClassroom" class="btn btn-primary btn-lg">前往教室 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>第一週作業</h2>
        <pre>@HomeworkOneDesc</pre>
    </div>
    <div class="col-md-4">
        <h2>第二週作業</h2>
        <pre>@HomeworkTwoDesc</pre>
    </div>
    <div class="col-md-4">
        <h2>第三週作業</h2>
        <pre>尚未說明</pre>
    </div>
</div>